.box {
    height: 100px;
    width: 117px;
    float: left;
    border-left: none;
    border-top: none;
}
.circlebox {
    height: 200px;
    width: 200px;
    float: left;
    border-radius: 50%;
}
.left {
    background-image: conic-gradient(from 50deg, #4D4DFF, #6133d7);
}
.right {
    background-image: conic-gradient(from 230deg, #4D4DFF, #00dbde);
}
.top {
    background-image: linear-gradient(to right, #5347f5, #4a71f7);
}
.overlapcircle {
    position: relative;
    left: -45px;
}
.overlaybox {
    position: relative;
    left: -281px;
    bottom: -50px;
    transform: rotate(320deg);
}
.center {
  margin: auto;
  position: relative;
  text-align: center;
  top: 50%;
  width: 20%;  
}